# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow
3. PyTorch

| Data Science Tools | 
|------|
|   RStudio  | 
|   Apache Spark  |
|   TensorFlow  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- making headers on Jupyter Notebook
- making bullet lists on Jupyter Notebook
- making tables on Jupyter Notebook
- making comments on Jupyter Notebook
- making numbered lists on Jupyter Notebook

## Author <br>
Aybüke Güzel